.btn-hover svg {
  color: #1b1c1e;
  margin-top: 3px;
}
.btn-hover:hover {
  background-color: #1b1c1e;
}
.btn-hover:hover span,
.btn-hover:hover svg {
  color: #fff;
}
[id^='accordion'] {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

[id^='accordion']:not(.hidden) {
  max-height: 500px; /* Adjust this value based on your content */
}

/* Make sure the SVG rotation is also animated */
button svg {
  transition: transform 0.2s ease-out;
}
